@import "tailwindcss";
@import "@nuxt/ui-pro";

@source "../../../content/**/*";

@theme {
  --font-sans: 'Public Sans', sans-serif;
  --font-display: 'Nord', sans-serif;

  --color-metzner-50: #E5FEFF;
  --color-metzner-100: #C2FCFF;
  --color-metzner-200: #7AF8FF;
  --color-metzner-300: #33F4FF;
  --color-metzner-400: #00DDEA;
  --color-metzner-500: #009AA3;
  --color-metzner-600: #007D84;
  --color-metzner-700: #006066;
  --color-metzner-800: #004347;
  --color-metzner-900: #002629;
  --color-metzner-950: #001819;
}

